cityguessr.saturncloud.club {
  respond "Welcome"
}

service.cityguessr.saturncloud.club {
  reverse_proxy cityguessr_service:8080
}

data.cityguessr.saturncloud.club {
  reverse_proxy mongo_express:8081
}
