cityguessr.saturncloud.club {
  respond "Welcome"
}

app.cityguessr.saturncloud.club {
  reverse_proxy cityguessr_app:8080
}

service.cityguessr.saturncloud.club {
  reverse_proxy cityguessr_service:8080
}

data.cityguessr.saturncloud.club {
  reverse_proxy mongo_express:8081
}

testdata.cityguessr.saturncloud.club {
  reverse_proxy mongo_express_test:8081
}
